<div class="footer uk-width-1-1 uk-padding-small">
  <div class="uk-flex uk-flex-around uk-flex-middle">
    <div class="copyright">
      © 2018 Lompaz, Inc.
    </div>
    <div class="uk-flex uk-flex-around social-networks">
      <a class="icon" uk-icon="icon: instagram; ratio:1.5"></a>
      <a class="icon" uk-icon="icon: facebook; ratio:1.5"></a>
      <a class="icon" uk-icon="icon: twitter; ratio:1.5"></a>
      <!--<a class="icon" uk-icon="icon: github; ratio:1.5"></a>-->
    </div>
  </div>
</div>
