.banner-image:hover .banner-text {
  opacity: 0.7;
}

.banner-text {
  background-color: #F6F6F6;
  padding: 10px 20px;
  opacity: 0;
}

.banner-text > h2, p {
  color: black;
}

.spinner-container {
  padding: 20px;
}

.spinner {
  margin: 0 auto;
  max-width: 0;
}

.add-banner {
  margin: 30px 20px;
}

.remove-banners > h3 {
  margin-left: 20px;
}

.close-banner {
  background-color: black;
  opacity: 0.7;
  cursor: pointer;
}

.close-banner > a {
  padding: 5px 5px 5px 5px;
}

.divider {
  margin: 0 5px;
}

.remove-banners {
  background-color: #F6F6F6;
  padding: 20px 0;
}

.dates-banner {
  background-color: #F6F6F6;
  opacity: 0;
  padding: 10px;
}

.dates-banner > p {
  margin: 0;
}

.complete-banner:hover .dates-banner {
  opacity: 0.7;
}
