<div class="landing-products uk-width-1-1 uk-margin-large-top ">
  <app-product-list [products]="products"></app-product-list>
</div>

<div id="aboutUs" class="about-us uk-width-1-1 uk-margin-large-top">

  <h3>Quienes Somos?</h3>

  <div class="uk-child-width-1-3@m uk-grid-small" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body uk-card-small">
        <h3 class="uk-card-title">Default</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-primary uk-card-body uk-card-small">
        <h3 class="uk-card-title">Primary</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-secondary uk-card-body uk-card-small">
        <h3 class="uk-card-title">Secondary</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>


