.no-comments h5 {
  margin-top: 0;
}

.ratings h5 {
  margin-top: 0;
}

.add-comment p {
  text-align: justify;
  text-justify: inter-word;
}

.details h5 {
  margin-top:  0;
}

.stars {
  margin-top: 5px;
}
