<div class="edit-mode">
  <h2>Modo Edición</h2>
  <p>Aquellos campos que no se modifiquen permaneceran iguales.</p>
</div>

<div class="product-body">
  <div class="uk-flex uk-flex-center" uk-grid>

    <div class="left-thumbnav width-10 uk-visible@m">
      <div class="uk-align-right uk-position-small">
        <ul class="uk-thumbnav uk-thumbnav-vertical" uk-margin>


          <li class="snip-image" *ngFor="let photo of product.photoUrl; let i = index" uk-slideshow-item="2">
            <div (click)="removePhoto(photo)">
              <img src="{{photo}}" width="50" alt="">
              <div class="remove-photo uk-position-center uk-panel">
                <a href="" uk-icon="icon: close; ratio: 1.5"></a>
              </div>
            </div>
          </li>


          <li class="add-photo" uk-form-custom>
            <input type="file" (change)="readUrl($event)">
            <button class="uk-button uk-button-default" type="button" tabindex="-1">
              <img src="../../../assets/images/addPhotoSnip.png" width="50" alt="">
            </button>
          </li>

        </ul>
      </div>
    </div>

    <div class="center-photo uk-width-large uk-flex uk-flex-center">
      <div class="slideshow uk-width-1-1">
        <div uk-slideshow="ratio: 2:3; autoplay: true; autoplay-interval: 4000">
          <div class="uk-position-relative uk-visible-toggle uk-dark">
            <ul class="uk-slideshow-items">
              <li *ngFor="let photos of product.photoUrl">
                <img src="{{photos}}" alt="" uk-cover>
              </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
               uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
               uk-slideshow-item="next"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="right-details uk-width-1-5@m">
      <div class="container-details">
        <form [formGroup]="editForm">
          <div class="uk-flex uk-flex-center uk-margin-small-bottom" (click)="deleteProduct()">
            <a class="deleteProduct">Eliminar Producto</a>
          </div>
          <!--El input de category deberia ser una busqueda de categorias-->
          <input class="uk-input uk-margin-small-bottom" id="category" type="text"
                 formControlName="category" placeholder="{{product.category}}">
          <input class="uk-input uk-margin-small-bottom" id="name" type="text" formControlName="name"
                 placeholder="{{product.name}}">
          <input class="uk-input" id="price" type="number" formControlName="price" placeholder="$ {{product.price}}">
          <hr>
          <textarea class="uk-textarea uk-margin-small-bottom uk-width-1-1" name="description" rows="2"
                    formControlName="description" placeholder="{{product.description}}"></textarea>

          <span>Talles Disponibles:</span>
          <ul class="sizes uk-list uk-list-large uk-list-striped uk-width-2-3">
            <li *ngIf="sizes.length == 0">No hay talles disponibles</li>
            <li *ngFor="let size of sizes" (click)="selectSize(size.name)" id="{{size.name}}">{{size.name}}</li>
          </ul>
          <hr>
          <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                  (click)="saveProduct(product.id)">Guardar Cambios
          </button>
        </form>
      </div>
    </div>

  </div>
</div>

<div id="confirmDeleteProduct" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Estas seguro que deseas eliminar el producto?</h2>
    </div>
    <div class="uk-modal-body uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
      <button class="uk-button uk-button-danger uk-margin-small-left" type="button" (click)="confirmDeleteProduct()">
        Eliminar
      </button>
    </div>
  </div>
</div>

