<div class="uk-grid" uk-grid>

  <div class="filters uk-width-1-5@s uk-flex uk-flex-right">

    <div class="uk-card uk-card-default uk-card-body uk-width-1-1">

      <h5 class="filter-title">Categorias</h5>
      <div class="uk-form-controls uk-form-controls-text filter-radio-categories">
        <div class="categories" *ngFor="let c of categories">
          <label>
            <input class="uk-radio" type="radio" name="category" (click)="onCategory(c.name)">
            {{c.name}}
          </label>
          <br>
        </div>
      </div>

      <hr class="divider">

      <h5 class="filter-title">Talles</h5>
      <div class="uk-form-controls uk-form-controls-text filter-radio-size" uk-grid>
        <div class="sizes uk-width-1-2" *ngFor="let s of sizes">
          <label>
            <input class="uk-radio" type="radio" name="size" (click)="onSize(s)">
            {{s}}
          </label>
        </div>
      </div>

      <hr class="divider">

      <h5 class="filter-title">Rango de Precios</h5>
      <div class="uk-form-controls uk-form-controls-text filter-radio-prices">
        <div class="prices" *ngFor="let p of prices">
          <label>
            <input class="uk-radio" type="radio" name="price" (click)="onPrice(p.pMin, p.pMax)">
            {{p.name}}
          </label>
          <br>
        </div>
      </div>


    </div>

  </div>

  <div class="uk-width-expand@s uk-padding-remove">

    <div class="uk-panel uk-flex uk-flex-center uk-padding" *ngIf="searching">
      <form class="uk-search uk-search-default uk-width-1-2" [formGroup]="generalSearchForm">
        <input class="search-input uk-search-input" type="search" formControlName="search" placeholder="Buscar...">
      </form>
    </div>


    <app-product-list [products]="filteredProducts"></app-product-list>

    <div class="uk-width-1-1 uk-flex uk-flex-center uk-margin-small-bottom">
      <button class="uk-button uk-button-primary uk-width-1-3" (click)="more()">Mas...</button>
    </div>
  </div>

</div>
