<nav class="navbar uk-navbar-container" style="z-index: 980;" uk-sticky="bottom: #offset" uk-navbar>

  <div class="uk-navbar-left">
    <a routerLink="" class="logo" title="Lompaz">
      <img src="../../assets/images/logo.png">
    </a>
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Home</a></li>
      <li><a>Hombres</a></li>
      <li><a>Mujeres</a></li>
      <li><a>Lo nuevo</a></li>
      <!--<li>-->
        <!--<a href="#">Parent</a>-->
        <!--<div class="uk-navbar-dropdown">-->
          <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
            <!--<li class="uk-active"><a href="#">Active</a></li>-->
            <!--<li><a href="#">Item</a></li>-->
            <!--<li class="uk-nav-header">Header</li>-->
            <!--<li><a href="#">Item</a></li>-->
            <!--<li><a href="#">Item</a></li>-->
            <!--<li class="uk-nav-divider"></li>-->
            <!--<li><a href="#">Item</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</li>-->
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Nicolas</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Item</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</nav>
