<nav class="navbar uk-navbar-container" style="z-index: 980;" uk-sticky="bottom: #offset" uk-navbar>

  <div class="uk-navbar-left">
    <a routerLink="" class="logo" title="Lompaz">
      <img src="../../assets/images/logo.png">
    </a>
    <ul class="uk-navbar-nav">
      <li><a routerLink="">Home</a></li>
      <li><a>Hombres</a></li>
      <li><a>Mujeres</a></li>
      <li><a>Lo nuevo</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">

      <li class="search-bar uk-flex uk-flex-middle">
        <app-search-bar></app-search-bar>
      </li>


      <li *ngIf="!auth.isLoggedIn()">
        <a><span uk-icon="icon: user; ratio: 1.5"></span></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a (click)="signIn()"><span uk-icon="sign-in"></span> Entrar</a></li>
            <hr>
            <li><a (click)="signUp()"><span uk-icon="plus-circle"></span> Crear Cuenta</a></li>
          </ul>
        </div>
      </li>


      <li *ngIf="auth.isLoggedIn() && !auth.isAdmin()">
        <a><span uk-icon="icon: user; ratio: 1.5"></span></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header uk-margin-small-bottom">Nicolas Velazquez</li>
            <li><a routerLink="/profile"><span uk-icon="user"></span> Perfil</a></li>
            <hr>
            <li><a routerLink="/cart"><span uk-icon="cart"></span> Carrito</a></li>
            <hr>
            <li><a routerLink="/favorites"><span uk-icon="heart"></span> Favoritos</a></li>
            <hr>
            <li><a routerLink="/orders"><span uk-icon="mail"></span> Ordenes</a></li>
          </ul>
        </div>
      </li>


      <li *ngIf="auth.isLoggedIn() && auth.isAdmin()">
        <a><span uk-icon="icon: github; ratio: 1.5"></span></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a routerLink="/manage/products"><span uk-icon="image"></span> Products</a></li>
            <hr>
            <li><a routerLink="/manage/categories"><span uk-icon="hashtag"></span> Categorias</a></li>
            <hr>
            <li><a routerLink="/manage/banners"><span uk-icon="album"></span> Banners</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </div>

</nav>

<app-sign-in-up></app-sign-in-up>
