.width-10 {
  width: 10%;
}

.width-45 {
  width: 35%;
}

.add-photo > button {
  padding: 0;
}

textarea {
  resize: vertical;
  min-height: 50px;
}

.removeBorder {
  border: 0;
}

.dropdown {
  margin-left: 10px;
  margin-top: 5px;
  background-color: white;
  max-width: 250px;
  -webkit-box-shadow: 2px 7px 53px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 53px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 53px -20px rgba(0, 0, 0, 0.75);
}

.dropdown ul {
  margin: 0;
}

.dropdown li:hover {
  background-color: whitesmoke;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}
