<div class="uk-width-1-1">
  <h3>Agregar Producto</h3>
</div>

<div class="product-photos" uk-grid>

  <div class="left-thumbnav width-10">
    <div class="uk-align-right uk-position-small">

      <ul class="uk-thumbnav uk-thumbnav-vertical" uk-margin>
        <li *ngFor="let photo of photos; let i = index" uk-slideshow-item="2">
          <a><img src="{{photo}}" width="50" alt=""></a>
        </li>
        <li class="add-photo" uk-form-custom>
          <input type="file" (change)="readUrl($event)">
          <button class="uk-button uk-button-default removeBorder" type="button" tabindex="-1">
            <img src="../../../assets/images/addPhotoSnip.png" width="50" alt="">
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="center-photo width-45">
    <div class="slideshow uk-width-1-1">
      <h1 class="uk-text-center" *ngIf="photos.length == 0">Agregue una imagen del producto</h1>
      <div uk-slideshow="ratio: 2:3; autoplay: true; autoplay-interval: 4000" *ngIf="photos.length != 0">
        <div class="uk-position-relative uk-visible-toggle uk-dark">
          <ul class="uk-slideshow-items">
            <li *ngFor="let photo of photos">
              <img src="{{photo}}" alt="" uk-cover>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
             uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
             uk-slideshow-item="next"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="center-photo uk-width-expand">
    <form [formGroup]="productForm">

      <label class="uk-form-label" for="name">Nombre</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="name" type="text" formControlName="name">
      </div>

      <label class="uk-form-label" for="categoryBinary">Categoria</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="categoryBinary" type="text" formControlName="categoryBinary">
      </div>

      <div class="uk-width-1-1">
        <label class="uk-form-label" for="category">Categoria c/ Search</label>
        <input class="input uk-input" id="category" formControlName="category" type="text" autocomplete="off">
        <div class="locations">
          <div class="dropdown">
            <ul class="uk-list">
              <li *ngFor="let c of categories" (click)="setCategory(c.name)"><a>{{c.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <label class="uk-form-label" for="price">Precio</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="price" type="number" formControlName="price">
      </div>

      <label class="uk-form-label" for="description">Descripcion</label>
      <div class="uk-form-controls">
          <textarea class="uk-textarea uk-margin-small-bottom uk-width-1-1" name="description" rows="2"
                    id="description" formControlName="description"></textarea>
      </div>

      <label class="uk-form-label" for="size">Talle Disponibles</label>
      <div class="uk-grid-small uk-child-width-auto uk-grid" id="size">
        <div *ngFor="let size of sizes, let i = index">
          <label><input class="uk-checkbox" type="checkbox" [checked]="size.checked" (change)="checkboxChanged(i)">
            {{size.name}}
          </label>
        </div>
      </div>

      <div uk-tooltip="Terminar de completar el formulario y agregar minimo una imagen">
        <button class="uk-button uk-button-primary uk-margin-small-top uk-width-1-1" id="addProductButton"
                (click)="addProduct()"
                [disabled]="(productForm.invalid)  || (photos.length == 0)">
          {{addButtonText}}
        </button>
      </div>

    </form>
  </div>

</div>
