.header {
  height: 100px;
  background-color: #F6F6F6;
  margin-bottom: -50px;
}

.profile-header {
  padding: 0 20px;
}

.profile-header > a > p {
  margin-left: 10px ;
}

.deleteUser {
  color: red;
}

.profile-image {
  margin: 0 auto;
  max-width: fit-content;
  position: relative;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile-image:hover .edit-image {
  opacity: 0.7;
}

.edit-image {
  background-color: #F6F6F6;
  border-radius: 50%;
  opacity: 0;
  padding: 35px;
}

.edit-image > button {
  padding: 0;
  border: 0;
}

h2, h5 {
  margin: 0 0 5px;
}

p {
  margin-top: 20px ;
}

a:hover {
  text-decoration: none;
}

