<div class="header">

</div>
<div class="profile">
  <div class="profile-header">
    <a class="deleteUser" href="#confirmDeleteUser" uk-toggle (click)="deleteUser()"><p class="uk-align-right">Eliminar usuario</p></a>
    <a class="editUser" (click)="editUser()"><p class="uk-align-right">Editar usuario</p></a>
    <div class="profile-image uk-text-center">
      <!--Aca no habria que tener el *ngIf, sino que se deberia cambiar la url del user photo y refreshar auto TODO-->
      <img *ngIf="imageUrl == null" src="../../assets/images/user-default4.png">
      <img *ngIf="imageUrl != null" src="{{imageUrl}}">
      <div class="edit-image uk-position-center" uk-form-custom>
        <input type="file" (change)="readUrl($event)">
        <button class="uk-button uk-button-default" type="button" tabindex="-1">
          <a uk-icon="icon: pencil; ratio: 1.5"></a>
        </button>
      </div>
    </div>
  </div>

  <div class="profile-body uk-text-center">
    <h2>Nicolas Velazquez</h2>
    <h5>nicolas.velazquez@ing.austral.edu.ar</h5>
    <a><p>Ordenes Pendientes: 15</p></a>
    <a><p>Productos Favoritos: 15</p></a>
    <a><p>Productos en el Carrito: 15</p></a>


  </div>
</div>


<div id="confirmDeleteUser" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Estas seguro que deseas eliminar tu usuario?</h2>
    </div>
    <div class="uk-modal-body uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
      <button class="uk-button uk-button-danger uk-margin-small-left" type="button" (click)="confirmDeleteUser()">Eliminar</button>
    </div>
  </div>
</div>
