<div class="header">

</div>
<div class="profile">
  <div class="profile-header">
    <h4 class="uk-align-left">Modo Edición</h4>
    <a href="#confirmDeleteUser" uk-toggle (click)="saveUser()"><p class="uk-align-right">Guardar Cambios</p></a>
    <div class="profile-image uk-text-center">
      <!--Aca no habria que tener el *ngIf, sino que se deberia cambiar la url del user photo y refreshar auto TODO-->
      <img *ngIf="imageUrl == null" src="../../assets/images/user-default4.png">
      <img *ngIf="imageUrl != null" src="{{imageUrl}}">
      <div class="edit-image uk-position-center" uk-form-custom>
        <input type="file" (change)="readUrl($event)">
        <button class="uk-button uk-button-default" type="button" tabindex="-1">
          <a uk-icon="icon: pencil; ratio: 1.5"></a>
        </button>
      </div>
    </div>
  </div>

  <div class="profile-body uk-text-center">

    <div class="editForm">
      <form [formGroup]="profileForm">
        <input class="uk-input uk-margin-small-bottom" id="name" type="text" formControlName="name" placeholder="Nicolas Velazquez">
        <input class="uk-input" id="email" type="text" formControlName="email"
               pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="nicolas.velazquez@ing.austral.edu.ar">
        <a><p>Ordenes Pendientes: 15</p></a>
        <a><p>Productos Favoritos: 15</p></a>
        <a><p>Productos en el Carrito: 15</p></a>
      </form>
    </div>

  </div>
</div>


<div id="confirmDeleteUser" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Estas seguro que deseas eliminar tu usuario?</h2>
    </div>
    <div class="uk-modal-body uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
      <button class="uk-button uk-button-danger uk-margin-small-left" type="button" (click)="confirmDeleteUser()">
        Eliminar
      </button>
    </div>
  </div>
</div>
