<div class="favorites-container" uk-grid>
  <div class="uk-width-1-1">
    <h3>Favoritos</h3>
  </div>

  <div class="favorite-products uk-width-1-1 uk-margin-remove-top">
    <div class="uk-width-1-1 uk-flex uk-flex-center">
      <h3 class="no-products" *ngIf="products?.length == 0">No tienes productos favoritos!</h3>
    </div>
    <div class="products-list uk-child-width-1-3@m" uk-grid>

      <div class="uk-margin-remove-top" *ngFor="let product of products">

        <div class="product uk-card uk-card-default uk-card-body" id="prod">
          <img src={{product?.photosUrl[0]}} class="image" style="width:100%;">
          <div class="icons">
            <a id="a{{product?.id}}" (click)="removeFromFavorites(product?.id)">
              <i class="heart-icon"><span uk-icon="heart"></span></i>
            </a>
          </div>

          <div class="information" (click)="goToProduct(product?.id)">
            <div class="name"><h3>{{product?.name}}</h3></div>
            <div class="price">$ {{product?.price}}</div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
